<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">
          {{name}}
        </h3>
        <p>
          {{miss_distance}}
        </p>
        <p>
          {{hazardous}}
        </p>
      </div>
    </div>
  </div>
</div>