<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">
          {{asteroid.name}}
        </h3>
        <p>
          {{asteroid.miss_distance}}
        </p>
        <p>
          {{asteroid.hazardous}}
        </p>
      </div>
    </div>
  </div>
</div>