<div class="col-md-12 justify-content-center  ">
    <h2 class="text-center">Signup and create a new account</h2>
    <hr>

    <form class="signup-form" >
        <div class="form-group">
            <label for="username-signup">username:</label>
            <input class="form-input" type="text" id="username-signup" />
        </div>
        <div class="form-group">
            <label for="password-signup">password:</label>
            <input class="form-input" type="password" id="password-signup" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit" id="signup-form">signup</button>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/js/signup.js"></script>