:root {
    --bg: #2f3b46;
    --text: #d6d6d6;
    --gradient: linear-gradient(to bottom right, #4d1b75, #0d1344);
    --opaque: #3a466db6;
    /* --cosmic: */
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    color: var(--text);
    background-image: url("../assets/outerspace2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: space-between;
    background-image: var(--gradient);
    margin-bottom: 10px;
}

header h1 a {
    color: var(--text);
    font-family: 'Bungee', cursive;
    font-size: 100px;
    margin-left: 15px;
    text-decoration: none;
}

header h1 a:hover {
    color: var(--text);
}

.nav-div {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 0.5rem;
    margin-right: 0.25rem;
}

.nav-div a {
    font-size: 20px;
}

.nav-link {
    text-decoration: none;
    color: var(--text);
    padding: 0.5rem 1rem;
}

.nav-link:hover {
    color: #6933ce;
}


/* homepage */

.card-body {
    border: 2px solid var(--text);
    padding: 0;
    text-align: center;
    border-radius: 16px;
    margin: 0.75rem;

}

.col-4 {
    margin: 0;
    padding: 0;
}

.card-title {
    color: var(--text);
    background-image: var(--gradient);
    padding: 0.75rem;
    margin: 0;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.card-title:hover {
    color: #6933ce;
}

.card-data {
    background-color: var(--opaque);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.card-data p {
    margin: 0;

    display: flex;
    flex-direction: column;
}

.result-title{
    color: #4255e2;

    margin-top: 10px;
}

.card-result {
    font-size: 22px;
}


/* login */

.login-container{
    border: 2px solid var(--text);
    background-color: var(--opaque);
    width: 50%;
    text-align: center;
    padding: 0;
    border-radius: 16px;
    margin: 80px auto;
}

.login-h2 {
    background-image: var(--gradient);
    padding: 1rem;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.form-group {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.form-group label {
    font-size: 20px;
}

.form-input {
    width: 500px;
    border-radius: 8px;
}

.btn {
    background-image: var(--gradient);
    border: 0;
    border-radius: 8px;
    width: 120px;
    margin: 0.5rem;
}

.btn:hover {
    color: #4d1b75;
    background-image: linear-gradient(to bottom right, #5f4675, #464f96);
}

/* single asteroid */

.card-body {
    background-color: var(--opaque);
}

.card-content {
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

.card-content p {
    margin: 0.5rem 0 0 0;
}


/* comment form */

.comment-form{
    border: 2px solid var(--text);
    border-radius: 16px;
    margin-top: 0.5rem;
    background-color: var(--opaque);
}

.comment-form h3 {
    background-image: var(--gradient);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 0.5rem;
    text-align: center;
}

.comment-form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-btn {
    color: var(--text);
}

/* comments */

.comment-container{
    border: 2px solid var(--text);
    background-color: var(--opaque);
    border-radius: 16px;
    margin-bottom: 15px;
}

.comment-header{
    background-image: var(--gradient);
    text-align: center;
    padding: 5px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.comment-content{
    padding: 0 10px;
}

/* logout */

#logout{
    cursor: pointer;
}


@media screen and (max-width: 576px) {
    /* header */

    header h1{
        font-size: 50px;
        margin: 0;
    }
    
    header h1 a{
        font-size: 50px;
        margin-left: 10px;
    }

    .nav-div{
        text-align: center;
    }

    /* login */

    .login-container{
        width: 90%;
    }

    .form-input{
        width: 90%;
    }

    /* comment page */

    .card-body{
        margin: 0 0 8px 0;
    }

} 